
<ul class="mne-story-list row">
  {{#if title}}
  <div class="title mne-story-list__title"> {{title}} </div>
  {{/if}}
  {{#each model as |article|}}
  <li class="mne-story-list__list-item">
    <div class="mne-story-list__author">
      {{article.author}}
    </div>
    <a href={{article.url}} class="mne-story-list__link">
      {{article.title}}
    </a>
  </li>
  {{/each}}
</ul>
