// Styles for {{mne-story-list }}
.mne-story-list {
  box-shadow: 5px 5px 3px #888888;
  padding: 10px;
  list-style: none;
  &__author {
    color: $red;
    font-weight: bold;
  }
  &__image {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
  }
  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 100px;
  }
  &__link {
    color: $black;
    &:hover {
      color: $gray;
      text-decoration: none;
    }
  }
  &__list-item {
    border-bottom: 1px solid $gray;
    &:last-child {
      border-bottom: none;
    }
  }
  &__title {
    color: $black;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 3px solid $red;
    margin-bottom: 10px;
  }
}
