<div class='row'>
  <div class="col-sm-9">
    {{mne-story-list model=model title="Top News from Next Web" showImages=true}}
  </div>
  <div class="col-sm-3">
    {{mne-story-list model=model title="Top News from Next Web"}}
  </div>
</div>
