<div class='row'>
  <div class="col-sm-3">
    {{mne-story-list model=nextWeb title="Top News from Next Web"}}
  </div>
  <div class="col-sm-3">
    {{mne-story-list model=buzzFeed title="Top News from BuzzFeed"}}
  </div>
  <div class="col-sm-3">
    {{mne-story-list model=reuters title="Top News from Reuters"}}
  </div>
  <div class="col-sm-3">
    {{mne-story-list model=associatedPress title="Top News from AP"}}
  </div>
</div>
